/* Set the background color of body to tan */
body {
    background-color: tan;
    font-family: Bodoni;
    text-align: center;
    font-size: 30px;
  }

  @font-face {
    font-family: Bodoni;
    src: url('bodoni.woff');
    }

  #LMStyle:hover{
      background-color: #E0B0FF;
  }

  .links{
      margin-top: 225px;
  }

  .templates{
      color: white;
      text-decoration: none;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: tan;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: tan;
    }
  }